.vscode/**
.vscode-test/**
node_modules/**
test-out/**
out/**/*.map
src/**
webview/**
.gitignore
.yarnrc
webpack.config.js
plopfile.js
rollup.config.js
plop-templates/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.DS_Store
docs
